<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PUDGE WARS</title>

  <!-- Styles -->
  <link rel="stylesheet" href="css/style.css">

  <!-- Libs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script src="js/p5.js"></script>
</head>
<body>
  
  <!-- Scripts -->
  <script src="js/Main.js"></script>
  <script src="js/Player.js"></script>
  <script src="js/Socket.js"></script>
  
</body>
</html>